:any-link {
  color: inherit;
  text-decoration: none; }

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 24px;
  overflow-x: hidden; }

html {
  overflow-y: scroll;
  background-color: white; }

h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  margin: 1.5rem 0 0 0;
  padding-bottom: 16px;
  font-size: 2rem; }

h2 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 1rem;
  margin-top: 20px; }

h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: .55rem;
  border-top: 1px solid gray;
  padding-top: 6px; }

h4 {
  font-family: "Playfair Display";
  font-size: .6rem;
  font-weight: 400; }

h5 {
  font-family: "Poppins";
  font-weight: 400;
  text-align: center;
  margin: 0; }

p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: .55rem;
  line-height: 1rem;
  letter-spacing: 1.1px; }
  @media screen and (min-width: 1300px) {
    p {
      font-size: .55rem; } }

ul {
  padding: 0;
  padding-left: 1rem;
  margin-top: 4px;
  margin-bottom: 0px; }

li {
  font-family: "Poppins";
  font-weight: 300;
  font-size: .55rem;
  line-height: 1rem;
  letter-spacing: 1.1px;
  margin: 0; }
  @media screen and (min-width: 1300px) {
    li {
      font-size: .55rem; } }

section {
  padding: 5% 5%; }
  @media screen and (min-width: 1000px) {
    section {
      padding: 5% 15%; } }

span {
  background-color: yellow; }

video {
  width: 100%;
  background-color: white; }

b {
  font-weight: 600; }

.video-container {
  padding: 0; }
  .video-container video {
    width: 100%;
    height: auto; }
  @media screen and (min-width: 1000px) {
    .video-container {
      padding: 0 15%; } }

.img-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .img-container img {
    margin-top: 1rem;
    width: 100%; }
    @media screen and (min-width: 700px) {
      .img-container img {
        width: 70%; } }
    @media screen and (min-width: 700px) {
      .img-container img {
        margin-top: 2rem;
        width: 60%; } }

.img-container-2 {
  display: flex;
  justify-content: center;
  padding-top: 0; }
  .img-container-2 img {
    width: 95%; }

.bkg {
  background-color: #cbdcf8; }

.bkg-2 {
  background-color: #E8B051; }

.section-margin {
  margin-top: 2rem; }
  @media screen and (min-width: 1000px) {
    .section-margin {
      margin-top: 0; } }

.p-margin {
  margin-bottom: 1rem; }

@media screen and (min-width: 1000px) {
  .flex-container {
    display: inline-flex;
    gap: 5%; } }

.small-flex-container ul {
  margin-top: .4rem; }
@media screen and (min-width: 1000px) {
  .small-flex-container {
    display: flex;
    flex-direction: column;
    width: 47.5%; } }

@media screen and (min-width: 1000px) {
  .row-container {
    display: inline-flex;
    gap: 5%; } }

@media screen and (min-width: 1000px) {
  .blurb-container {
    display: flex;
    width: 50%; } }

header {
  display: flex;
  justify-content: center;
  padding: inherit;
  height: max(7vh, 4rem); }

.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; }
  @media screen and (max-width: 1000px) {
    .header {
      width: 90%; } }

.menu {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: max(20vw, 400px);
  max-width: 340px;
  justify-content: space-between; }
  .menu p {
    font-weight: 500;
    font-size: 18px; }
  @media screen and (max-width: 700px) {
    .menu {
      display: none; } }

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 999; }
  @media screen and (min-width: 700px) {
    .menu-btn {
      display: none; } }

.menu-btn_burger {
  width: 30px;
  height: 3px;
  background: black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(225, 101, 47, 0.2);
  transition: all .5s ease-in-out; }
  .menu-btn_burger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(225, 101, 47, 0.2);
    transition: all .5s ease-in-out;
    transform: translateY(-10px); }
  .menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(225, 101, 47, 0.2);
    transition: all .5s ease-in-out;
    transform: translateY(10px); }

.name a {
  font-weight: 600;
  font-size: 1.1rem; }

nav {
  display: none;
  position: fixed;
  width: 100%;
  padding-left: 5%;
  min-height: 8rem;
  background-color: transparent;
  z-index: 990; }

.nav-open {
  display: flex;
  color: white; }
  @media screen and (min-width: 700px) {
    .nav-open {
      display: none; } }

.nav-close {
  animation: 1s slideFromRight ease-in-out forwards;
  animation-direction: reverse; }

.menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  background-color: white;
  margin-top: 8vh;
  margin-bottom: 2vh;
  background-color: transparent;
  font-family: "Poppins";
  font-size: .8rem; }

body {
  display: flex;
  flex-direction: column; }

.overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0; }
  .overview p {
    margin: 8px 0; }
  @media screen and (min-width: 1000px) {
    .overview {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.intro-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5%;
  column-gap: 5%;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }
  .intro-info h3 {
    margin: 0; }
  @media screen and (min-width: 1000px) {
    .intro-info {
      width: 50%;
      row-gap: 10%;
      column-gap: 0%; } }

.sub-container {
  margin: 0;
  padding: 0; }
  .sub-container h3 {
    border: none; }
  .sub-container ul {
    list-style: none;
    padding-left: 0; }
  .sub-container li {
    line-height: normal; }

.info-container h3 {
  margin-top: 6px; }

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center; }

@media screen and (min-width: 1000px) {
  .no-margin {
    margin-top: .1rem; } }

.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none; }
  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg); }
  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
